mixin imgLazy(src, alt)
	img(src=src, alt=alt, class='lazy')&attributes(attributes)

mixin img(src, alt)
	img(src=src, alt=alt)&attributes(attributes)

mixin cityButton
	.cc-city-picker.relative
		button._button.flex.aic
			span._point-container.img-contain.cc-icon
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_537_1202)">
				<path d="M9.85382 13.134L9.26365 12.6712L9.85382 13.134ZM6.1461 13.134L5.55592 13.5968L6.1461 13.134ZM7.99996 14.6706V13.9206V14.6706ZM12.5833 6.40612C12.5833 7.15475 12.1861 8.20039 11.5182 9.38126C10.8669 10.5328 10.0223 11.7038 9.26365 12.6712L10.444 13.5968C11.2252 12.6006 12.1204 11.3634 12.8238 10.1198C13.5106 8.90547 14.0833 7.56898 14.0833 6.40612H12.5833ZM6.73627 12.6712C5.97763 11.7038 5.13307 10.5328 4.48173 9.38126C3.81379 8.20039 3.41663 7.15475 3.41663 6.40612H1.91663C1.91663 7.56898 2.48928 8.90547 3.17612 10.1198C3.87956 11.3634 4.77473 12.6006 5.55592 13.5968L6.73627 12.6712ZM3.41663 6.40612C3.41663 3.59796 5.5195 1.41699 7.99996 1.41699V-0.0830078C4.58938 -0.0830078 1.91663 2.87502 1.91663 6.40612H3.41663ZM7.99996 1.41699C10.4804 1.41699 12.5833 3.59796 12.5833 6.40612H14.0833C14.0833 2.87502 11.4105 -0.0830078 7.99996 -0.0830078V1.41699ZM9.26365 12.6712C8.84552 13.2044 8.58862 13.5279 8.36465 13.7313C8.17279 13.9056 8.08193 13.9206 7.99996 13.9206V15.4206C8.56681 15.4206 9.0012 15.1796 9.37323 14.8416C9.71314 14.5329 10.0588 14.088 10.444 13.5968L9.26365 12.6712ZM5.55592 13.5968C5.94116 14.088 6.28678 14.5329 6.62669 14.8416C6.99872 15.1796 7.43311 15.4206 7.99996 15.4206V13.9206C7.91799 13.9206 7.82713 13.9056 7.63527 13.7313C7.41129 13.5279 7.15439 13.2044 6.73627 12.6712L5.55592 13.5968ZM5.24996 6.66699C5.24996 8.18578 6.48118 9.41699 7.99996 9.41699V7.91699C7.3096 7.91699 6.74996 7.35735 6.74996 6.66699H5.24996ZM7.99996 9.41699C9.51874 9.41699 10.75 8.18578 10.75 6.66699H9.24996C9.24996 7.35735 8.69031 7.91699 7.99996 7.91699V9.41699ZM10.75 6.66699C10.75 5.14821 9.51874 3.91699 7.99996 3.91699V5.41699C8.69031 5.41699 9.24996 5.97664 9.24996 6.66699H10.75ZM7.99996 3.91699C6.48118 3.91699 5.24996 5.14821 5.24996 6.66699H6.74996C6.74996 5.97664 7.3096 5.41699 7.99996 5.41699V3.91699Z" fill="white"/>
				</g>
				<defs>
				<clipPath id="clip0_537_1202">
				<rect width="16" height="16" fill="white"/>
				</clipPath>
				</defs>
				</svg>
			span._title Москва
			span._arrow-container.img-contain.cc-icon
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M11.3333 7.33325L10.1684 8.50856C9.23946 9.44585 8.77498 9.9145 8.20885 9.98666C8.07014 10.0043 7.92978 10.0043 7.79107 9.98666C7.22494 9.9145 6.76046 9.44585 5.8315 8.50857L4.66663 7.33325" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
				</svg>

mixin addresses
	.cc-address-picker.relative
		button._button.flex.aic
			span._title ТРЦ «Авиапарк». Ходынский б-р, 4
			._arrow-container.img-contain.cc-icon
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M11.3333 7.33325L10.1684 8.50856C9.23946 9.44585 8.77498 9.9145 8.20885 9.98666C8.07014 10.0043 7.92978 10.0043 7.79107 9.98666C7.22494 9.9145 6.76046 9.44585 5.8315 8.50857L4.66663 7.33325" stroke="white" stroke-linecap="round"/>
				</svg>

mixin ctaButton(cl, title, button)
	- title = title || 'Заказать билет'
	if button
		button.cc-button-cta(class= cl)
			span._title= title
	else
		a.cc-button-cta(href='#', class= cl)
			span._title= title

mixin heroButton
	a.cc-button-hero(href='#')
		span._title Подробнее

mixin timeItem(cl)
	.cc-contacts-item.-time.flex.aic(class= cl)
		span._item-icon.img-contain.cc-icon
			<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_537_1206)">
			<path d="M8.49992 5.33325C8.49992 5.05711 8.27606 4.83325 7.99992 4.83325C7.72378 4.83325 7.49992 5.05711 7.49992 5.33325L8.49992 5.33325ZM7.02014 6.9797C6.82488 6.78444 6.50829 6.78444 6.31303 6.9797C6.11777 7.17496 6.11777 7.49154 6.31303 7.6868L7.02014 6.9797ZM1.68757 1.77615C1.47194 1.94866 1.43698 2.2633 1.60948 2.47893C1.78199 2.69456 2.09664 2.72952 2.31227 2.55702L1.68757 1.77615ZM3.97893 1.22369C4.19456 1.05118 4.22952 0.736535 4.05702 0.520904C3.88451 0.305273 3.56987 0.270313 3.35424 0.442818L3.97893 1.22369ZM13.6876 2.55702C13.9032 2.72952 14.2178 2.69456 14.3904 2.47893C14.5629 2.2633 14.5279 1.94866 14.3123 1.77615L13.6876 2.55702ZM12.6456 0.442818C12.43 0.270313 12.1153 0.305273 11.9428 0.520904C11.7703 0.736535 11.8053 1.05118 12.0209 1.22369L12.6456 0.442818ZM7.99992 8.19518H7.49992H7.99992ZM7.49992 5.33325L7.49992 8.19518L8.49992 8.19518L8.49992 5.33325L7.49992 5.33325ZM6.31303 7.6868L7.31303 8.6868L8.02014 7.9797L7.02014 6.9797L6.31303 7.6868ZM14.1666 7.99992C14.1666 11.4057 11.4057 14.1666 7.99992 14.1666V15.1666C11.958 15.1666 15.1666 11.958 15.1666 7.99992H14.1666ZM7.99992 14.1666C4.59416 14.1666 1.83325 11.4057 1.83325 7.99992H0.833252C0.833252 11.958 4.04188 15.1666 7.99992 15.1666V14.1666ZM1.83325 7.99992C1.83325 4.59416 4.59416 1.83325 7.99992 1.83325V0.833252C4.04188 0.833252 0.833252 4.04188 0.833252 7.99992H1.83325ZM7.99992 1.83325C11.4057 1.83325 14.1666 4.59416 14.1666 7.99992H15.1666C15.1666 4.04188 11.958 0.833252 7.99992 0.833252V1.83325ZM2.31227 2.55702L3.97893 1.22369L3.35424 0.442818L1.68757 1.77615L2.31227 2.55702ZM14.3123 1.77615L12.6456 0.442818L12.0209 1.22369L13.6876 2.55702L14.3123 1.77615ZM7.49992 8.19518C7.49992 7.92369 7.82817 7.78773 8.02014 7.9797L7.31303 8.68681C7.75102 9.12479 8.49992 8.81459 8.49992 8.19518L7.49992 8.19518Z" fill="white"/>
			</g>
			<defs>
			<clipPath id="clip0_537_1206">
			<rect width="16" height="16" fill="white"/>
			</clipPath>
			</defs>
			</svg>
		span._item-value 11:00-22:00

mixin phoneItem(cl)
	a.cc-contacts-item.-phone.flex.aic.cc-hover(href='#', class= cl)
		span._item-icon.img-contain.cc-icon
			<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M3.1739 2.44125C3.221 2.39415 3.24455 2.3706 3.26529 2.35154C3.7754 1.88282 4.55947 1.88282 5.06958 2.35154C5.09032 2.3706 5.11387 2.39415 5.16097 2.44125L6.1331 3.41338C6.6678 3.94808 6.82072 4.75557 6.51856 5.44876C6.21641 6.14195 6.36933 6.94944 6.90403 7.48414L8.5019 9.08202C9.03661 9.61672 9.8441 9.76964 10.5373 9.46748C11.2305 9.16532 12.038 9.31825 12.5727 9.85295L13.5448 10.8251C13.5919 10.8722 13.6154 10.8957 13.6345 10.9165C14.1032 11.4266 14.1032 12.2107 13.6345 12.7208C13.6154 12.7415 13.5919 12.765 13.5448 12.8121L12.9539 13.403C12.4727 13.8842 11.779 14.0862 11.1147 13.9386C6.58832 12.9327 3.0533 9.39773 2.04743 4.87133C1.89981 4.20702 2.10181 3.51334 2.58301 3.03214L3.1739 2.44125Z" stroke="white" stroke-width="1.5"/>
			</svg>
		span._item-value + 7 777 777 77 77

mixin social
	.cc-social.flex.fwrap
		a._item.flex.aic.jcc.cc-hover(href='#')
			span._title Vk
		a._item.flex.aic.jcc.cc-hover(href='#')
			span._title Ig
		a._item.flex.aic.jcc.cc-hover(href='#')
			span._title Yt

mixin detailsButton(cl, title, button)
	if button
		button.cc-button-details(class=cl)
			if title
				span._title= title
			else
				span._title Подробнее
	else
		a.cc-button-details(href='#', class=cl)
			if title
				span._title= title
			else
				span._title Подробнее

mixin formButton(cl, title, button)
	if button
		button.cc-button-form(class=cl)
			span._title= title
	else
		if title
			a.cc-button-form(href='#', class=cl)
				span._title= title
		else
			button.cc-button-form(type='submit', class=cl)
				span._title Отправить

mixin feedbackButton(title, cl)
	a.cc-button-feedback(href='#', class=cl)
		span._title=title

mixin showButton(title, cl)
	button.cc-button-show(class=cl)
		span._title=title

mixin inputText(name, type, label, icon, index)
	if icon
		label.cc-input.-icon.js-cc-label
			img._icon(src= icon, alt='#')
			span._label-text.js-cc-input-label= label
			span._message.js-cc-input-message Сообщение подсказка
			span._message.-error.js-cc-input-error Сообщение об ошибке
			if type === 'autocomplete'
				input._input.js-cc-input.js-cc-auto-complete(class='js-cc-auto-complete_' + index, name='location', type='text', dir='ltr', spellcheck=false, autocorrect='off', autocomplete='off', autocapitalize='off')&attributes(attributes)
			else
				input._input.js-cc-input(name=name, type=type)&attributes(attributes)
	else
		label.cc-input.js-cc-label
			span._label-text.js-cc-input-label= label
			span._message.js-cc-input-message Сообщение подсказка
			span._message.-error.js-cc-input-error Сообщение об ошибке
			input._input.js-cc-input(name=name, type=type)&attributes(attributes)

mixin breadcrumbs
	.cc-breadcrumbs.cc-outer
		._wrapper.cc-wrapper
			ul._list.flex.fwrap.aic
				li._item
					a._link(href='#') Главная
				li._item
					a._link(href='#') Выбрать праздник
				li._item День рождения

mixin tabsNav(cl)
	- var items = ['ТРЦ АВИАПАРК', 'ТРЦ САЛАРИС', 'ТРК ВЕСНА', 'ТРК VEGAS КРОКУС', 'ТРЦ ГОРОД КОСИНО', 'ТРЦ VEGAS КУНЦЕВО', 'БУТОВО МОЛЛ', 'ТРЦ ГОРОД ЛЕФОРТОВО', 'ТЦ ОТРАДА', 'ТРК КРАСНЫЙ КИТ', 'ТЦ СИТИ'];
	nav.cc-tabs-nav.cc-outer(class= cl)
		._wrapper.cc-wrapper
			ul._list.flex.fwrap.jcc
				each val, index in items
					li._item(class= (index === 0 ? 'cc-tabs-nav__item_active' : ''))
						a._link.cc-hover(href='#')= val

mixin priceItem(price, descr, cl)
	.cc-price-item(class= cl)
		._price-container
			span._price= price
		._time-container
			span._time= descr
